.appbar {
  grid-area: appbar;
  background-color: #12264c;
  display: flex;
  justify-content: left;
  padding-left: 3%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  gap: 1%;
}

.logo {
  width: 60px;
  height: 60px;
  align-self: center;
}
.text {
  color: white;
  font-size: 1.4rem !important;
}

@media screen and (max-width: 480px) {
  .appbar {
    grid-area: appbar;
    background-color: #12264c;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 1%;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .appbar {
    grid-area: appbar;
    background-color: #12264c;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 1%;
  }
}
