.sticker {
  grid-area: sticker;
  padding: 5% 0;
  display: grid;
  background-image: url('../../images/texture.jpg');
  grid-template-rows: 10% 1fr auto 20%;
  grid-template-columns: 25% 1fr 25%;
}

.sticker_header {
  justify-self: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
.stickerimage {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
.stickertext {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  font-size: 20px;
}

.departments {
  margin-top: 2%;
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  grid-template-areas: '. acfr . gvilleoffice .';
}

.acfr {
  grid-area: left;
  margin-right: 3%;
  grid-column: 2/3;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
}

.gvilleoffice {
  grid-area: right;
  margin-left: 3%;
  grid-column: 4/5;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .sticker {
    grid-template-columns: 1fr;
    padding: 5% 2%;
  }
  .sticker h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .departments {
    margin-top: 2%;
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas: '. acfr .', '. gvilleoffice .';
    margin: 3% 0;
  }

  .acfr {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
  }

  .gvilleoffice {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
}
