/* .sticker {
  grid-area: sticker;
  padding: 5% 0;
  display: grid;
  background-image: url('../../images/texture.jpg');
  grid-template-rows: 10% 1fr auto 20%;
  grid-template-columns: 25% 1fr 25%;
}

.sticker_header {
  justify-self: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  grid-row: 1/2;
  grid-column: 2/3;
  color: #12264c;
}
.stickerimage {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
.stickertext {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  font-size: 20px;
}

.departments {
  margin-top: 2%;
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  grid-template-areas: '. acfr . gvilleoffice .';
}

.acfr {
  grid-area: left;
  margin-right: 3%;
  grid-column: 2/3;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
}

.gvilleoffice {
  grid-area: right;
  margin-left: 3%;
  grid-column: 4/5;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .sticker {
    grid-template-columns: 1fr;
    padding: 12% 2%;
  }
  .sticker h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .stickertext {
    text-align: center;
  }
  .departments {
    margin-top: 2%;
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas: '. acfr .', '. gvilleoffice .';
    margin: 0 0;
  }

  .acfr {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
  }

  .gvilleoffice {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
}
 */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.sticker {
  grid-area: sticker;
  padding: 5% 0;
  display: -ms-grid;
  display: grid;
  background-image: url('../../images/texture.jpg');
  -ms-grid-rows: 10% 1fr auto 20%;
  grid-template-rows: 10% 1fr auto 20%;
  -ms-grid-columns: 25% 1fr 25%;
  grid-template-columns: 25% 1fr 25%;
}
.sticker > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.sticker > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.sticker > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.sticker > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.sticker > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.sticker > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.sticker_header {
  -ms-grid-column-align: center;
  justify-self: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #12264c;
}
.stickerimage {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
  justify-self: center;
}
.stickertext {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
  justify-self: center;
  font-size: 1.5rem;
}

.departments {
  margin-top: 2%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 5% 1fr 5% 1fr 5%;
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  grid-template-areas: '. acfr . gvilleoffice .';
}

.acfr {
  grid-area: left;
  margin-right: 3%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.gvilleoffice {
  grid-area: right;
  margin-left: 3%;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-column-align: center;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .sticker {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 12% 4%;
  }
  .sticker h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .stickertext {
    text-align: center;
  }
  .departments {
    margin-top: 2%;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 2% 1fr 2%;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas: '. acfr .', '. gvilleoffice .';
    margin: 5% 0;
    font-size: 1.25rem;
  }

  .acfr {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2%;
  }

  .gvilleoffice {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 2%;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  .sticker {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 12% 4%;
  }
  .sticker h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .stickertext {
    text-align: center;
  }
  .departments {
    margin-top: 2%;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 2% 1fr 2%;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas: '. acfr .', '. gvilleoffice .';
    margin: 5% 0;
    font-size: 1.25rem;
  }

  .acfr {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2%;
  }

  .gvilleoffice {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 2%;
  }
}
