/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.notified {
  grid-area: notified;
  background-color: #12264c;
  color: white;
  height: 600px;
  display: grid;
  padding: 5% 0;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: '. notified_header .', '. notified_paragraph .',
    '. notified_button .';

  display: -ms-grid;
  -ms-grid-columns: 10% 1fr 10%;
  -ms-grid-rows: 1fr 1fr 1fr;
}
.notified_header {
  grid-area: notified_header;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  text-transform: uppercase;

  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-align: center;
}
.notified_paragraph {
  grid-area: notified_paragraph;
  grid-column: 2/3;
  grid-row: 2/3;
  line-height: 3rem;
  text-align: center;

  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
}
.notified_button {
  grid-area: notified_button;
  background-color: #4a97d3;
  color: white;
  font-weight: bold;
  justify-self: center;
  align-self: end;
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 2% 5%;
  border: none;
  font-size: 1.85rem;
  border-left: 20px double #cfedfb;
  border-right: 20px double #cfedfb;
  display: block;

  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-row-align: end;
}

@media screen and (max-width: 480px) {
  .notified {
    grid-area: notified;
    background-color: white;
    color: #12264c;
    height: auto;

    display: grid;
    padding: 8% 5%;

    grid-template-columns: 1fr;

    grid-template-rows: auto auto auto;
    grid-template-areas: '. notified_header .', '. notified_paragraph .',
      '. notified_button .';
    text-align: center;
    -webkit-box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
    box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
  }
  .notified_header {
    font-size: 2.1rem;

    grid-column: 1/2;
  }
  .notified_paragraph {
    grid-column: 1/2;
    font-size: 1.35rem;
    line-height: 2.8rem;
  }
  .notified p {
    font-size: 1.35rem;
  }
  .notified_button {
    grid-column: 1/2;
    height: 40px !important;
    width: 150px !important;
  }
  .notified_button {
    padding: 2% 3%;
    font-size: 1.8rem;
  }
  .notified_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .notified_paragraph {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .notified_button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  .notified {
    grid-area: notified;
    background-color: white;
    color: #12264c;
    height: auto;

    display: grid;
    padding: 8% 5%;

    grid-template-columns: 1fr;

    grid-template-rows: auto auto auto;
    grid-template-areas: '. notified_header .', '. notified_paragraph .',
      '. notified_button .';
    text-align: center;
    -webkit-box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
    box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
  }
  .notified_header {
    font-size: 2.1rem;
    grid-column: 1/2;
  }
  .notified_paragraph {
    grid-column: 1/2;
    font-size: 20px;
  }
  .notified_button {
    grid-column: 1/2;
    height: 56px !important;
    width: 150px !important;
    align-self: end;
    font-size: 2.2rem;
    padding: 2% 5%;
    width: 100px;
  }
  .notified_button {
  }
  .notified_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .notified_paragraph {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .notified_button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 770px) and (max-device-width: 1025px) {
  .notified {
    grid-area: notified;
    background-color: white;
    color: #12264c;
    height: auto;

    display: grid;
    padding: 8% 5%;

    grid-template-columns: 1fr;

    grid-template-rows: auto auto auto;
    grid-template-areas: '. notified_header .', '. notified_paragraph .',
      '. notified_button .';
    text-align: center;
    -webkit-box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
    box-shadow: 0 5px 5px rgba(18, 38, 76, 0.15),
      0 5px 5px rgba(18, 38, 76, 0.15);
  }
  .notified_header {
    grid-column: 1/2;
    margin-bottom: 5%;
  }
  .notified_paragraph {
    grid-column: 1/2;
    line-height: 4.3rem;
  }
  .notified_button {
    grid-column: 1/2;
    height: 50px !important;
    width: 150px !important;
    font-size: 2.2rem;
  }
  .notified_button {
    padding: 2% 5%;
    width: 100px;
  }
  .notified_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .notified_paragraph {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .notified_button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}
