/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.hero {
  grid-area: hero;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 999;

  display: -ms-grid;
  -ms-grid-columns: auto auto;
}
.hero_heading {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #12264c;
}
.second_tagline {
  color: #1968b1;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.hero_paragraph {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}
.headers {
  border-bottom: 4px solid #1968b1;
  margin: 3% 0;
}

.hero_text {
  grid-column: 1/2;
  align-self: center;
  display: flex;
  justify-content: right;
  display: grid;
  grid-template-rows: auto auto;
  grid-row: 1/2;
  font-size: 36px;
  padding-left: 5%;

  /*IE styles*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -ms-grid;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  -ms-grid-rows: auto auto;
  -ms-grid-row-align: center;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  /*IE styles*/
}
.textmsg {
  -ms-grid-row: 2;
}
.hero_img {
  width: 100%;
  grid-column: 2/3;
  padding-top: 2%;
  justify-self: center;

  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-column-align: center;
}

@media screen and (max-width: 480px) {
  .hero {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .hero > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .hero > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .hero_img {
    grid-row: 1/2;

    grid-column: 1/2;
    width: 100%;

    justify-self: center;
    margin-left: 0;
  }
  .hero_text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 18px;
    justify-content: center;
    align-self: flex-start;
    background-color: #12264c;
    color: white;
    padding: 4% 0;
  }

  .headers {
    border: none;
  }
  .hero_heading {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  .second_tagline {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
  }
  .hero_paragraph {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  .hero {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .hero > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .hero > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .hero_img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    justify-self: center;
    margin-left: 0;
  }
  .hero_text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 18px;
    justify-content: center;
    align-self: flex-start;
    background-color: #12264c;
    color: white;
    padding: 4% 0;
  }

  .headers {
    border: none;
  }
  .hero_heading {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  .second_tagline {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
  }
  .hero_paragraph {
    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 770px) and (max-device-width: 1025px) {
  .hero {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .hero > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .hero > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .hero_img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    justify-self: center;
    margin-left: 0;
  }
  .hero_text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 18px;
    justify-content: center;
    align-self: flex-start;
    background-color: #12264c;
    color: white;
    padding: 4% 0;
  }

  .headers {
    border: none;
  }
  .hero_heading {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  .second_tagline {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
  }
  .hero_paragraph {
    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
  }
}
