.AccordionSummaryHeader {
  background-color: #1968b1;
  color: white;
}

.MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium {
  color: white !important;
}

svg {
  color: white;
  font-size: 2.6rem !important;
}
