/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.footer {
  grid-area: footer;
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: 1% 0;
  color: white;
  background-color: #12264c;

  -ms-grid-columns: 25% 1fr 25%;
  -ms-grid-rows: 1fr 1fr;
  display: -ms-grid;
}
.footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.footer > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.copyright {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  font-size: 14px !important;

  -ms-grid-column-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.footer_text {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  font-size: 14px !important;

  -ms-grid-column-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.footer_link {
  color: white !important;
}
a:hover {
  color: lightblue;
}
.footer_text:visited {
  color: white;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 4% 4%;
  }
  .copyright {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
    align-self: end;
  }
  .footer_text {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  .footer {
    padding: 4% 4%;
  }
  .copyright {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
  }
  .footer_text {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
    color: white;
  }
  .footer_link {
    color: white !important;
  }
  .footer_text:visited {
    color: white;
  }
}
