.footer {
  grid-area: footer;
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  height: 100px;
  color: white;
  padding: 2% 0;
  background-color: #12264c;
}

.copyright {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
}
.footer_text {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
