.footer {
  grid-area: footer;
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: 1% 0;
  color: white;

  background-color: #12264c;
}

.copyright {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
}
.footer_text {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 4% 4%;
  }
  .copyright {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
  }
  .footer_text {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
  }
}
