h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.75rem !important;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.25rem !important;
    margin: 5% 0 !important;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  h1 {
    font-size: 3rem !important;
    margin: 2% 0 !important;
  }
  p {
    font-size: 1.55rem !important;
    margin: 5% 0 !important;
  }
}
