.grid_container {
  display: grid;
  grid-template-rows: auto 600px auto auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: 'navigation', 'hero', 'notified', 'prepared', 'sticker',
    'footer';
  min-height: 100vh;
  /*height:100vh;*/
  margin: 0 0;
}

h1,
p {
  margin: 0 0;
}
