.prepared {
  display: grid;
  /*background-color: #d0edfc;*/
  grid-template-columns: 22% 1fr 22%;
  margin-top: 0;
  padding: 5% 0;
  grid-template-rows: auto auto auto;
  grid-template-areas: '. prepared_header .', '. acem_section .',
    '. fema_section .';
}

.prepared p {
  font-size: 1.25rem;
  line-height: 2.6rem;
}

.prepared img {
  max-width: 440px;
}

.prepared_header {
  grid-area: prepared_header;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 8%;
}

.acem_section {
  grid-area: acem_section;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5%;
}
.acem_image {
  grid-column: 1/2;
  justify-self: end;
}
.acem_text {
  grid-column: 2/3;
  padding-left: 10%;

  justify-self: center;
  display: grid;
}
.acem_visit {
  justify-self: end;
}

.fema_section {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto;
}

.fema_image {
  grid-column: 2/3;
  justify-self: start;
}
.fema_text {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-right: 10%;
  align-self: center;
  justify-self: start;
  display: grid;
}
.fema_visit {
  justify-self: end;
}
.prepared_button {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.9rem;
}
.image_grid {
  grid-area: image_grid;
  justify-self: center;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  grid-template-areas: '. left . right .';
}
.left {
  grid-area: left;
  margin-right: 3%;
  grid-column: 2/3;
  position: relative;
  text-align: center;
}

.test {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  position: relative;
  text-align: center;
  grid-area: right;
  margin-left: 3%;
  grid-column: 4/5;
}
hr {
  margin: 0;
  height: 4px;
}
.firsthr {
  border-color: #12264c;
  background-color: #12264c;
  margin: 0;
}

.secondhr {
  border-color: #1968b1;
  background-color: #1968b1;
  margin: 0;
}

.thirdhr {
  border-color: #4a97d3;
  background-color: #4a97d3;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .prepared {
    grid-template-columns: 1fr;
    margin-top: 0;
    padding-bottom: 10%;
    grid-template-rows: auto auto;
    grid-template-areas: '. prepared_header .', '. acem_section .', '. fema .';
  }

  .prepared img {
    width: 100%;
  }

  .prepared_header {
    grid-column: 1/2;
    padding: 5% 0;
    font-size: 2.1rem;
  }

  .image_grid {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    padding: 5%;
  }
  .left {
    grid-row: 1/2;
    width: 100%;
    grid-column: 2/3;
  }
  .right {
    grid-row: 2/3;
    width: 100%;
    grid-column: 2/3;
    margin-left: 0;
  }

  .imageleft img,
  .imageright img {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
  h1 {
    font-size: 2.1rem;
  }
  .prepared_button {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}
