/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.prepared {
  display: grid;
  /*background-color: #d0edfc;*/
  grid-template-columns: 10% 1fr 10%;
  margin-top: 0;
  padding: 5% 0;
  grid-template-rows: auto auto auto;
  grid-template-areas: '. prepared_header .', '. acem_section .',
    '. fema_section .';

  display: -ms-grid;
  -ms-grid-columns: 10% 1fr 10%;
  -ms-grid-rows: auto auto auto;
}

.prepared p {
  line-height: 2.8rem;
}

.prepared h2 {
  color: #1968b1;
}
.prepared a {
  color: #1968b1;
  font-size: 1.2rem;
}

.prepared img {
  max-width: 330px;
}

.prepared_header {
  grid-area: prepared_header;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  margin-bottom: 8%;
  color: #12264c;

  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

.acem_section {
  grid-area: acem_section;
  grid-row: 2/3;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5%;

  -ms-grid-columns: auto auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
}
.acem_wrapper {
  /* background-color: #1968b1;*/
}
.acem_head {
  -ms-grid-row: 1;
  margin: 0;
  align-self: end;
  text-decoration: none;
}
.acem_para {
  -ms-grid-row: 2;
  align-self: center;
}
.acem_image {
  position: relative;
  grid-column: 1/2;
  justify-self: end;
  transform: translate(6%, 8%);

  -webkit-transform: translate(6%, 8%);
  -ms-grid-column: 1;
  -ms-grid-column-align: end;
  -ms-grid-column-span: 1;
  -ms-transform: translate(6%, 8%);
}
.acem_image img {
  max-width: 360px;
}
.acem_text {
  grid-column: 2/3;
  padding-left: 10%;
  justify-self: center;
  display: grid;

  -ms-grid-column-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.acem_visit {
  justify-self: left;

  -ms-grid-row: 3;
  -ms-grid-column-align: left;
}

.fema_section {
  grid-row: 3/4;
  grid-template-columns: auto auto;
  grid-column: 2/3;
  margin-top: 5%;
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: auto auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
}

.fema_wrapper {
  /*background-color: #1968b1;*/
  -ms-grid-column: 2;
}
.fema_image {
  position: relative;
  justify-self: start;
  grid-column: 2/3;
  transform: translate(-6%, 8%);

  -ms-grid-column-align: start;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -webkit-transform: translate(-6%, 8%);
  -ms-transform: translate(-6%, 8%);
}
.fema_text {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-right: 10%;
  align-self: center;
  justify-self: start;
  font-size: 1.5rem;
  display: grid;

  -ms-grid-column-align: start;
  -ms-grid-row-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}
.fema_header {
  -ms-grid-row: 1;
  text-decoration: none;
}
.fema_header a,
.acem_head a {
  font-size: 2rem;
}

.fema_para {
  -ms-grid-row: 2;
  margin-bottom: 3%;
}
.fema_visit {
  justify-self: left;
  -ms-grid-column-align: left;
}
.prepared_button {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.9rem;
}
.image_grid {
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  grid-template-areas: '. left . right .';
  grid-area: image_grid;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  justify-content: center;

  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  display: -ms-grid;
  -ms-grid-columns: 5% 1fr 5% 1fr 5%;
}
.left {
  grid-area: left;
  margin-right: 3%;
  grid-column: 2/3;
  position: relative;
  text-align: center;

  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.right {
  position: relative;
  text-align: center;
  grid-area: right;
  margin-left: 3%;
  grid-column: 4/5;

  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

/*STYLES FOR HR HERE*/
hr {
  margin: 0;
  height: 5px !important;
  padding: 0;
}
.firsthr {
  border-style: solid;
  border-color: #12264c !important;
  background-color: #12264c !important;
  border: solid 5px #12264c;
  border-width: thick;
  z-index: 999;
  padding: 0;
}

.secondhr {
  border-style: solid;
  border-color: #1968b1;
  background-color: #1968b1;
  border: solid 5px #1968b1;
  z-index: 999;
  border-width: thick;
}

.thirdhr {
  border-style: solid;
  border-color: #4a97d3;
  background-color: #4a97d3;
  border: solid 5px #4a97d3;
  border-width: thick;
  z-index: 999;
}
/*STYLES FOR HR HERE*/

@media screen and (max-width: 480px) {
  .prepared {
    grid-template-columns: 4% 1fr 4%;
    margin-top: 0;
    padding: 8% 0;
    grid-template-rows: auto auto auto;
    grid-template-areas: '. prepared_header .', '. acem_section .',
      '. fema_section .';
  }
  .prepared_header {
    grid-column: 2/3;
    padding: 5% 0;
    font-size: 2.1rem;
  }

  .acem_wrapper,
  .fema_wrapper {
    background-color: white;
  }
  .acem_section {
    grid-area: acem_section;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
  }

  .acem_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .acem_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .acem_wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .acem_text {
    margin-top: 5%;
    justify-self: center;
    text-align: center;
    padding-left: 0;
  }

  .fema_section {
    grid-row: 3/4;
    grid-column: 2/3;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .fema_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .fema_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .fema_wrapper {
    grid-row: 1/2;

    grid-column: 2/3;
  }
  .fema_image {
    transform: none;
  }
  .fema_text {
    margin-top: 5%;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
    padding-right: 0;
  }

  .acem_visit,
  .fema_visit {
    text-align: center;
    justify-self: center;
    font-weight: bold;
  }
  .prepared img {
    width: 100%;
  }

  .image_grid {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    padding: 5%;
  }

  .image_grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .image_grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .left {
    grid-row: 1/2;
    width: 100%;
    grid-column: 2/3;
  }
  .right {
    grid-row: 2/3;
    width: 100%;
    grid-column: 2/3;
    margin-left: 0;
  }
  .acem_image {
    position: relative;
    grid-column: 1/2;
    justify-self: end;
    transform: none;
  }
  .imageleft img,
  .imageright img {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
  h1 {
    font-size: 2.1rem;
  }
  .prepared_button {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  .prepared_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .acem_section {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
  .prepared {
    grid-template-columns: 4% 1fr 4%;
    margin-top: 0;
    padding: 5% 0;
    grid-template-rows: auto auto auto;
    grid-template-areas: '. prepared_header .', '. acem_section .',
      '. fema_section .';
  }
  .prepared_header {
    grid-column: 2/3;
    padding: 5% 0;
    font-size: 2.1rem;
  }

  .acem_section {
    grid-area: acem_section;
    grid-row: 2/3;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
  }

  .acem_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .acem_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .acem_wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    background-color: white;
  }
  .acem_text {
    margin-top: 5%;
    justify-self: center;
    text-align: center;
    padding-left: 0;
  }

  .fema_section {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .fema_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .fema_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .fema_wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    background-color: white;
  }
  .fema_image {
    transform: none;
  }
  .fema_text {
    margin-top: 5%;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
    padding-right: 0;
  }

  .acem_visit,
  .fema_visit {
    text-align: center;
    justify-self: center;
    font-weight: bold;
    margin-top: 3%;
  }
  .prepared img {
    width: 100%;
  }

  .image_grid {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    padding: 5%;
  }

  .image_grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .image_grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .left {
    grid-row: 1/2;
    width: 100%;
    grid-column: 2/3;
  }
  .right {
    grid-row: 2/3;
    width: 100%;
    grid-column: 2/3;
    margin-left: 0;
  }
  .acem_image {
    position: relative;
    grid-column: 1/2;
    justify-self: end;
    transform: none;
  }
  .imageleft img,
  .imageright img {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
  h1 {
    font-size: 2.1rem;
  }
  .prepared_button {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  .prepared_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .acem_section {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

/* TABLET BREAKPOINT*/
@media screen and (min-device-width: 770px) and (max-device-width: 1125px) {
  .prepared {
    grid-template-columns: 4% 1fr 4%;
    margin-top: 0;
    padding: 5% 0;
    grid-template-rows: auto auto auto;
    grid-template-areas: '. prepared_header .', '. acem_section .',
      '. fema_section .';
  }
  .prepared_header {
    grid-column: 2/3;
    padding: 5% 0;
  }

  .acem_section {
    grid-area: acem_section;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
  }

  .prepared img {
    max-width: 450px;
  }

  .acem_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .acem_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .acem_wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    background-color: white;
  }
  .acem_text {
    margin-top: 5%;
    justify-self: center;
    text-align: center;
    padding-left: 0;
  }

  .fema_section {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .fema_section > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .fema_section > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .fema_wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    background-color: white;
  }
  .fema_image {
    transform: none;
  }
  .fema_text {
    margin-top: 5%;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
    padding-right: 0;
  }

  .acem_visit,
  .fema_visit {
    text-align: center;
    justify-self: center;
    font-weight: bold;
    margin-top: 3%;
  }
  .prepared img {
    width: 100%;
  }

  .image_grid {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    padding: 5%;
  }

  .image_grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .image_grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .left {
    grid-row: 1/2;
    width: 100%;
    grid-column: 2/3;
  }
  .right {
    grid-row: 2/3;
    width: 100%;
    grid-column: 2/3;
    margin-left: 0;
  }
  .acem_image {
    position: relative;
    grid-column: 1/2;
    justify-self: end;
    transform: none;
  }
  .imageleft img,
  .imageright img {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
  h1 {
    font-size: 2.1rem;
  }
  .prepared_button {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  .prepared_header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .acem_section {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
